<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <!-- HTML Meta Tags -->
    <title>ePub Generator</title>
    <meta name="description" content="Generate a usable, self-contained ePub from a series of links. ">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="ePub Generator">
    <meta itemprop="description" content="Generate a usable, self-contained ePub from a series of links. ">
    <meta itemprop="image" content="">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://epub-creator.vincentsaulys.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="ePub Generator">
    <meta property="og:description" content="Generate a usable, self-contained ePub from a series of links. ">
    <meta property="og:image" content="">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="ePub Generator">
    <meta name="twitter:description" content="Generate a usable, self-contained ePub from a series of links. ">
    <meta name="twitter:image" content="">
    <link href="/static/styles.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MF5SNZQ031"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', '<%=GOOGLE_ANALYTICS%>');
    </script>
  </head>
  <body>
