<%- include("_header")%>
<div>
  <h2>
    Your book failed for... some reason. 
  </h2>
  <p>
    You can opt to retry but not guarantees. Otherwise email <a href="https://vincentsaulys.com/">me</a>. 
  </p>
</div>
<%- include("_footer")%>
