<%- include("_header")%>
<div>
  <p>
    Your book failed for... some reason. 
  </p>
  <p>
    You can opt to retry but not guarantees. Otherwise email me (you'll have to look as I want to avoid bots). 
  </p>
</div>
<%- include("_footer")%>
